  <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© 2025 Eng.Basil Abu Saleem. All rights reserved. Developed and customized by Eng.Basil Abu Saleem.</span>
                    </div>
                </div>
            </footer>