<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">My Portfolio</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Portfolio Content
    </div>

    <!-- About Me -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/about">
            <i class="fas fa-fw fa-user"></i>
            <span>About Me</span>
        </a>
    </li>

    <!-- Skills -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/skills">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Skills</span>
        </a>
    </li>
<!-- Resume -->
    <li class="nav-item">
    <a class="nav-link" href="/dashboard/resume">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>Resume</span>
    </a>
</li>

    <!-- Portfolio -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/portfolio">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Portfolio</span>
        </a>
    </li>

     <!-- Services -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/services">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Services</span>
        </a>
    </li>

    <!-- Testimonials -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/testimonials">
            <i class="fas fa-fw fa-comments"></i>
            <span>Testimonials</span>
        </a>
    </li>

    <!-- Contact -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/contact">
            <i class="fas fa-fw fa-envelope"></i>
            <span>Contact Info</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Settings
    </div>

    <!-- Site Settings -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/settings">
            <i class="fas fa-fw fa-cog"></i>
            <span>Site Settings</span>
        </a>
    </li>

    <!-- Logout -->
    <li class="nav-item">
        <a class="nav-link" href="/logout">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
